<div>
    <h3>@Race.RaceName</h3>
    <p>@Race.TrackName</p>
    <p>@Race.ScheduledDistance Mile Race</p>
    <p>@Race.ScheduledLaps Laps</p>
    <p>@Race.RaceDate.Date.ToString("MMMM dd")</p>
    <p>@Race.RaceDate.ToString("h:mm tt")</p>
</div>
